<h3 class='band_name'>THE HUNTER</h3>
<div class="container main_footer_container">
    <ul class="nav">
        <li><a href="https://youtube.com" target="_blank"><img src="../images/Youtube.png"></a></li>
        <li><a href="https://facebook.com" target="_blank"><img src="../images/Facebook.png"></a></li>
    </ul>
</div>