<html>
    <head>
        <title>The Hunter | HOME</title>
        <meta name='descrption' content='Home Page'>
        <link href="/styles.css" rel="stylesheet" type='text/css'>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    </head>

    <body>
        <header class='main_header'>
            <%- include('partials/header.ejs')%>
            <div class="container">
                <button class = 'btn btn_header' role="button">ADD NEW ITEM</button>
            </div>
            
            <button class = 'btn btn_header btn_play' role="button">&#9658;</button>
        </header>

        <section class='container content '> 
            <h2 class='section_header'>TOURS</h2>
            <div >
                <div class="tour_row">
                    <strong class="tour_item tour_date">JULY 18</strong>
                    <span class="tour_item tour_city">Kathmandu</span>
                    <span class="tour_item tour_drink">Vodka</span>
                    <button class='btn tour_item tour_btn btn_primary' role="button">BUY TICKETS</button>
                </div>

                <div class="tour_row">
                    <strong class="tour_item tour_date">JUNE 1</strong>
                    <span class="tour_item tour_city">Pokhara</span>
                    <span class="tour_item tour_drink">Royal Stag</span>
                    <button class='btn tour_item tour_btn btn_primary' role="button">BUY TICKETS</button>
                </div>

                <div class="tour_row">
                    <strong class="tour_item tour_date">MAY 18</strong>
                    <span class="tour_item tour_city">Jhapa</span>
                    <span class="tour_item tour_drink">Tuborg</span>
                    <button class='btn tour_item tour_btn btn_primary' role="button">BUY TICKETS</button>
                </div>
            </div>
        </section>

        <footer class="main_footer">
            <%- include('partials/footer.ejs')%>
        </footer>
    </body>
</html>